{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2023,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react-hooks",
    "prettier"
  ],
  "extends": ["prettier"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "prettier/prettier": "error"
  }
}
